@import 'base/_base.scss';

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-cyrillic_latin-300.woff2') format('woff2');
}


.container {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    background: linear-gradient(
        102.76deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
      ),
      url('../img/background.jpg') center / cover no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-size: 48px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
